@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner div {
  position: absolute;
  animation: spinner 0.8s linear infinite;
  width: 154px;
  height: 154px;
  top: 33px;
  left: 33px;
  border-radius: 50%;
  box-shadow: 0 7.04px 0 0 #0057ff;
  transform-origin: 77px 80.52px;
}
.wrapper {
  width: 220px;
  height: 220px;
  margin: 40px auto 5px;
  overflow: hidden;
  position: relative;
}
.spinner {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.spinner div {
  box-sizing: content-box;
}
.text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
