.title {
  width: 100%;
  margin-bottom: 10px;
}
.col {
  padding-left: 10px;
  padding-right: 10px;
}
.input {
  margin-bottom: 15px;
}
.input_title {
  margin-bottom: 10px;
  display: block;
}
.row_buttons {
  margin: 0px 20px 15px 20px
}