.title {
  width: 100%;
  margin-bottom: 10px;
}
.col {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 15px;
}
.input_title {
  margin-bottom: 10px;
  display: block;
}
.status {
  color: white;
  padding: 10px;
  width: fit-content;
  border-radius: 3px;
  margin-top: -10px;
}
.row_buttons {
  margin-bottom: 15px;
}

.btn_copy {
  margin: 30px;
}